<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.hiyuki2578.Web_browser"
	android:versionCode="2014121202"
	android:versionName="20141212r02" >
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="19" />
	<uses-feature android:name="android.hardware.nfc"
	    android:required="true"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.READ_HISTORY_BOOKMARKS"/>
	<uses-permission android:name="android.permission.NFC"/>
	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme">
		<activity
			android:name="net.hiyuki2578.Web_browser.MainActivity"
			android:label="@string/app_name"
			android:windowSoftInputMode="adjustResize">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<receiver
			android:name="net.hiyuki2578.Web_browser.WidgetProvider"
			android:exported="false" >
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/widget" >
			</meta-data>
		</receiver>
		<activity 
			android:name="net.hiyuki2578.Web_browser.Preference"
			android:label="@string/app_name" 
			android:windowSoftInputMode="adjustResize">
		</activity>
		<activity
			android:name=".TwitterOAuthActivity"
			android:launchMode="singleTask" >
			<intent-filter>
			    <action android:name="android.intent.action.VIEW" />
			    <category android:name="android.intent.category.DEFAULT" />
			    <category android:name="android.intent.category.BROWSABLE" />
			    <data
			        android:host="twitter"
			        android:scheme="hiyuki" />
			</intent-filter>
		</activity>           
	</application>
</manifest>
